<h1>Friends</h1>

<section class="friend-requests">
  <% if current_user.current_friend_requests.empty? %>
  <p>No friend requests<p>
    <% else %>
    <% current_user.current_friend_requests.each do |request, friend| %>
    <p><%= "#{friend.first_name} wants to be your friend" %></p>
    <%= link_to "Accept", user_friend_request_path(request.id), method: :patch %>
    <%= link_to "Decline", user_friend_request_path(request.id), method: :delete %>
    <% end %>
    <% end %>
  </section>

<section class="add-friend-form">
  <%= form_tag user_friend_requests_path, method: :post do %>
    <%= label_tag "Add Friends" %>
    <%= text_field_tag :email, nil, placeholder: "Friend's Email" %>
    <%= submit_tag "Add Friend" %>
  <% end %>
</section>

<section class="friend-list">
  <% if @friends.empty? %>
    <p>You have no friends :(<p>
  <% else %>
    <% @friends.each do |friend| %>
      <h2 class="librarian-name"><%= link_to "#{friend.first_name}'s Books" %></h2>
      <section class="book-shelf">
        <% friend.books[0..5].shuffle.each do |book| %>
          <%= render partial: '/partials/book_card', locals: {book: book, friend_id: friend.id} %>
        <% end %>
      </section>
    <% end %>
  <% end %>
</section>
