
<section class="friend-list">
  <h3>Friends</h3>
  <% if current_user.friends.empty? %>
    <p>You have no friends :(<p>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <%= link_to friend.name %>
      <!-- make link to friend's shelf -->
    <% end %>
  <% end %>
</section>

<section class="add-friend-form">
  <%= form_tag "/user/friendships", method: :post do %>
    <%= label_tag "Add Friends" %>
    <%= text_field_tag :email, nil, placeholder: "Friend's Email" %>
    <%= submit_tag "Add Friend" %>
  <% end %>
</section>
