<header>
<h3><%= @friend.first_name %>'s Books</h3>
</header>

<% if @friend.books.available.present? %>
  <h4>Available Books</h4>
  <section class="book-shelf">
    <% @friend.books.available.each do |book| %>
        <div class="available_book" id="book-<%= book.id %>">
          <%= render partial: '/partials/book_card', locals: { book: book, friend_id: current_user.id, extra: nil } %>
        </div>
    <% end %>
  </section>
<% end %>

<% if @friend.books.lent_to_user(current_user.id).present? %>
  <h4>Books currently borrowed from <%= @friend.first_name %></h4>
    <section class="book-shelf">
      <% @friend.books.lent_to_user(current_user.id).each do |book| %>
          <div class="borrowed_from_user" id="book-<%= book.id %>">
            <%= render partial: '/partials/book_card', locals: { book: book, friend_id: current_user.id, extra: nil } %>
          </div>
      <% end %>
    </section>
<% end  %>

<% if current_user.books.lent_to_user(@friend.id).present? %>
  <h4>Books currently lent to <%= @friend.first_name %></h4>
    <section class="book-shelf">
      <% current_user.books.lent_to_user(@friend.id).each do |book| %>
        <div class="lent_to_user" id="book-<%= book.id %>">
          <%= render partial: '/partials/book_card', locals: { book: book, friend_id: current_user.id, extra: nil } %>
        </div>
      <% end %>
    </section>
<% end  %>
