<header>
<h3><%= @friend.first_name %>'s Books</h3>
</header>


  <% @friend.books.each do |book| %>
    <div class="available_book" id="book-<%= book.id %>">
      <%= link_to(image_tag(book.thumbnail, alt: "#{book.title} cover image"), book_path(book, friend_id: @friend.id)) %>
    </div>
  <% end %>

  <% @friend.books.lent_to_user.each do |book| %>
  <div class="lent_to_user" id="book-<%= book.id %>">
    <%= link_to(image_tag(book.thumbnail, alt: "#{book.title} cover image"), book_path(book, friend_id: @friend.id)) %>
  </div>
  <% end %>
