<header>
<h3><%= @friend.first_name %>'s Books</h3>
</header>

  <% @friend.books.available.each do |book| %>
    <div class="available_book" id="book-<%= book.id %>">
      <%= link_to(image_tag(book.thumbnail, alt: "#{book.title} cover image"), book_path(book, friend_id: @friend.id)) %>
    </div>
  <% end %>

<% if @friend.books.lent_to_user(current_user.id).present? %>
  <h3>Books currently borrowed from <%= @friend.first_name %></h3>
  <% @friend.books.lent_to_user(current_user.id).each do |book| %>
  <div class="lent_to_user" id="book-<%= book.id %>">
    <%= link_to(image_tag(book.thumbnail, alt: "#{book.title} cover image"), book_path(book, friend_id: @friend.id)) %>
  </div>
  <% end %>
<% end  %>
