<nav class="nav">
  <header>
    <a class="skip-link" href='#main'>Skip to content</a>
  </header>

  <%= link_to "ShelfShare", root_path %>
  <%= link_to "Dashboard", user_dashboard_path %>
  <%= link_to "Books", books_path %>
  <%= link_to "Friends", user_friends_path %>
  <%= link_to "Profile", user_books_path %>
  <span>
    <%= "Logged in as #{current_user.first_name}"%>.
  </span>
  <span>
    (<%= link_to "Logout", logout_path %>)
  </span>
</nav>
