<h1 class="header">Browse Books</h1>

<section class='search-books header'>
  <%= form_tag books_search_index_path, method: :get do %>
  <%= label_tag :search, "Find Books by Title" %>
  <%= search_field_tag :search,nil, placeholder: 'Enter keyword or ISBN'%>
  <%= submit_tag 'Find Books' %>
  <% end  %>
</section>

<h2 class="header">Sorted by Friend</h2>

<% @friends.each do |friend| %>
  <section class="friend-book-shelf book-shelf">
    <% friend.books.each do |book| %>
    <div class="book">
      <%= render partial: '/partials/book_card', locals: { book: book, friend_id: friend.id, extra: ["#{book.category}", "Belongs to #{friend.first_name}"] } %>
    </div>
    <% end %>
  </section>
<% end %>
