<h1>Browse Books</h1>

<p>Find Books by Title</p>
<section class= 'search-books'>
  <%= form_tag '/books/search', method: :get do %>
  <%= search_field_tag :search,nil, placeholder: 'Enter book title'%><br>
  <%= submit_tag 'Find Books' %>
  <% end  %>
</section>

<p>Sorted by Friend</p>

<% @friends.each do |friend| %>
  <section class="friend-book-shelf">
    <% friend.books.each do |book| %>
      <div class="book">
        <%= link_to book.title, book_path(book, friend_id: friend.id) %>
        <%= book.author %>
        <%= book.category %>
        <%= image_tag(book.thumbnail, alt: "#{book.title} cover image") %>
      </div>
    <% end %>
  </section>
<% end %>
