<!-- Friend Book Show Page -->

<article class="book">
  <header>
    <p>
      <%= @book.title %><br/>
      <%= @book.author %><br/>
    </p>
  </header>
  <main>
    <%= image_tag(@book.thumbnail, alt: "#{@book.title} cover image") %>
    <p>
      <%= @book.description %><br/>
      Genre: <%= @book.category %><br/>
    </p>
  </main>
  <footer>
    Belongs to <%= @friend.first_name %>
    <%= button_to "Ask to Borrow" %>
  </footer>
</article>
