<h1><%= "Search Results for #{@keyword}" %></h1>

<p>Find Books by Title</p>
<section class= 'search-books'>
  <%= form_tag books_search_index_path, method: :get do %>
  <%= search_field_tag :search,nil, placeholder: 'Enter keyword'%><br>
  <%= submit_tag 'Find Books' %>
  <% end  %>
</section>


<% @books.each do |book| %>
  <article class="book">
    <article class="book-card">
      <%= tag.h2 book.title %><br>
      <%= render partial: '/partials/book_thumbnail', locals: { book: book } %>
      <%= tag.h3 book.author %><br>
      <p class="extra"><%= book.category %></p><br/>
      <footer class="extra">
        <p>Borrow from these friends:</p><br/>
        <div class="extra">
          <% current_user.friends.who_owns_this_book(book).each do |friend| %>
            <%= link_to friend.first_name, book_path(book, friend_id: friend.id) %><br/>
          <% end %>
        </div>
      </footer>
    </article>
  </article>
<% end %>
