<!DOCTYPE html>
<html>
  <head>
    <title>ShelfShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
    <% if name == "missing_details" %>
      <% msg.each do |m| %>
        <div class= "<%=name%>-flash">
          <p><%= m %></p>
        </div>
      <% end %>
    <% else %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
