<!DOCTYPE html>
<html>
  <head>
    <title>ShelfShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <%= render '/partials/nav_bar' %>
    <% end %>
    <main id="main" tabindex="-1">
      <%= render '/partials/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
