<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Shelf Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>Attribution: ShelfShare uses the Goodreads API. Thanks, Goodreads!</p>
    </footer>
  </body>
</html>
